include requirements.txt
include README.md
include .env.example
recursive-include static *
recursive-include api *
recursive-include chatters *
recursive-include commands *
recursive-include tools *
recursive-include tests *
