Markdown==2.6.8
PyNaCl==1.0.1
aiohttp==3.7.4
async-timeout==1.2.1
cffi==1.10.0
chardet==3.0.3
cl3ver==0.2
discord.py==0.16.7
feedparser==5.2.1
future==0.16.0
giphypop==0.3
livestreamer==1.12.2
loremipsum==1.0.5
multidict==2.1.5
oauthlib==2.0.2
parsedatetime==2.4
peewee==2.10.1
pycparser==2.17
requests==2.14.2
requests-oauthlib==0.8.0
six==1.10.0
style==1.1.0
terminaltables==3.1.0
tornado==4.5.1
twython==3.4.0
update==0.0.1
websockets==3.3
youtube-dl==2017.5.18.1
