{% extends index.html %}

{% block js_includes %}
<script src="/static/charts.js"></script>
{% end %}


{% block content %}

<select id="channelpicker">
    <option value="all">Choose a channel</option>
</select>

<button id="loading">
</button>


<style>

body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1px;
}

.messagebar {
    fill: aliceblue;
    opacity: .6;
    stroke: steelblue;
    stroke-width: 1px;
}

</style>


{% end %}

