<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A chat bot">
    <meta name="author" content="Japherwocky">

    <title> - </title>


    <!-- Page specific CSS files -->
    {% block css_includes %}{% end %}

    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="/static/lib/moment.2.13.0.min.js" charset="utf-8"></script>


    <!-- A nice sans -->
    <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

  </head>

<body>

{% block content %}
<!-- Begin page content -->
<div class="container">

    {{ doc }}

</div>
<!-- END content -->
{% end %}


    {% block js_includes %}{% end %}

</body>
</html>
